.App {
  text-align: center;
}

.App-background {
  background-image: url("https://picsum.photos/1920/1080");
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -100;
}

.App-header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  background-color: #282c34;
  color: #CACACA;
  padding: 2%;
}

.App-header h1{
  font-size: calc(20px + 2vmin);
  font-weight: bold;
  color: #EAEAEA;
}

.App-header span{
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  color: #EAEAEA;
}

.App-options {
  background-color: #282c34;
  color: #EAEAEA;

  text-align: center;
  font-size: calc(14px + 2vmin);

  border: 5px solid #282c34;
  border-radius: 10px;

  margin: 0;
  padding: 3%;
  padding-top: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.App-answer {
  align-items: center;
  background-color: #282c34;
  color: #EAEAEA;

  font-size: calc(14px + 2vmin);
  border-radius: 10px;

  padding: 2%;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.App-answer-title {
  padding-top: +5%;
  color: #AAAAAA;

  font-style: italic;
  font-size: calc(10px + 1vmin);
}

.App-answer-reload-button {

  text-align: center;
  width: 50%;
}
